.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #102C57;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #C0F0F7;
    display: inline-block;

    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.social-icons a:hover {
    color: #FEAE6F;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #FEAE6F;
    color: #102C57;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #102C57;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

#msg {
    color: #C0F0F7;
    margin-top: -40px;
    display: block;
  }

@media only screen and (max-width: 600px) {
    .contact-left, .contact-right {
        flex-basis: 100%;
      }
}