.model {
    width: 100%;
    aspect-ratio: 16/9;
}

.content {
    margin: 25px 0;
}

.paragraph {
    margin: 25px 8%;
}

.paragraph p {
    margin-top: 20px;
    line-height: 1.8;
    text-align: justify;
}

.img-compare {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 15px;
    justify-content: center;

    margin-top: 15px;
    margin-bottom: 15px;
}

.img-compare img {
    max-height: 400px;
    max-width: 500px;
    min-width: 150px;
    object-fit: contain;
}