footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    bottom: 0;
    left: 0;

    background: #E1F7F5;
    padding: 8px 10%;
    width: 100%;
    height: 60px;

    font-weight: 400;
    font-size: 16px;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.nav-link.footer-nav {
    color: #1679AB;
    font-size: 16px;
    font-weight: 500;
}

.footer-nav.active, .footer-nav:hover {
    color: #102C57;
}

footer p {
    text-align: center;
    color: #1679AB;
}

@media all and (max-width: 1024px) {
    footer {
        padding: 8px 8%;
    }
}

@media only screen and (max-width: 850px) {
    footer {
        align-items: center;
        justify-content: center;
        height: 45px;
    }

    footer nav {
        display: none;
    }
}