.page-intro {
    display: flex;
    gap: 3rem;
    padding: 5% 15%;
}

.page-intro.sub-page {
    padding: 5% 12%;
}

.intro-img-col {
    flex: 35%;
    margin: auto;
    display: flex;
    text-align: center;
}

.page-intro.sub-page .intro-img-col {
    flex: 50%;
}

.intro-img-col img, .intro-img-col iframe {
    margin: auto;
    object-fit: contain;
    min-width: 150px;
    max-width: min(350px, 100%);
}

.page-intro.sub-page .intro-img-col img, .page-intro.sub-page .intro-img-col iframe {
    max-width: none;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}

.intro-txt-col {
    flex: 50%;
    margin: auto;
}

.page-intro.sub-page .intro-txt-col {
    flex: 60%;
}

.intro-txt-col .caption {
    margin-bottom: 12px;
    font-weight: 450;
    color: #0E46A3;
}

.intro-txt-col p {
    line-height: 1.5;
    letter-spacing: 0.2 em;
    color: #0C1844;

    text-align: justify;
}


.intro-txt-col .caption, .intro-txt-col p {
    font-size: 19px;
    font-size: 1.08rem;

    /*font-size: max(18px, calc(0.6vw + 1.5vh));*/

}

/* responsiveness */

@media only screen and (max-width: 1034px) {
    .page-intro {
        padding: 4% 8%;
    }
}

@media only screen and (max-width: 875px) {
    /*
    .intro-txt-col .caption, .intro-txt-col p {
        font-size: 18px;
    }
    */
}

@media only screen and (max-width: 768px) {

    .page-intro {
        flex-direction: column;
    }

    .intro-img-col, .intro-txt-col {
        flex: 100%;
    }

    .intro-img-col
    {
        width: calc(30vw + 25vh);
        height: calc(30vw + 25vh);
    }
    /*
    .intro-txt-col .caption, .intro-txt-col p {
        font-size: 17px;
    }
        */
}

@media only screen and (max-width: 600px) {
    .page-intro {
        padding: 4% 5%;
    }

    .page-intro.sub-page {
        padding: 5%;
        gap: 20px;
    }
    .intro-img-col
    {
        width: auto;
        height: auto;
    }

    .intro-img-col img, .intro-img-col iframe {
        min-width: 150px;
        width: 100%;
    }

    /*
    .intro-txt-col .caption, .intro-txt-col p {
        font-size: 17px;
    }*/
}