:root {
  /* header */
  --header-bgColor: #08102d;
  --dropdown-nav-bgColor: #0d1a49;
  --lightest-blue2: #9AC8CD;

  /* footer */
  --lightest-blue: #E1F7F5;
  /*footer, contact*/
  --light-blue: #1679AB;

  /* footer, body, contact */
  --blue: #102C57;

  --row-color: #F5F7F8;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: white;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
  box-sizing: border-box;

  /*
  transition: 1.0s ease-in-out;
  -webkit-transition: 1.0s ease-in-out;
  -moz-transition: 1.0s ease-in-out;
  -ms-transition: 1.0s ease-in-out;
  -o-transition: 1.0s ease-in-out;
  */
}

a {
  color: var(--blue);
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}

a:hover {
  color: var(--light-blue);
}
/*
p {
  font-size: 18px;
  font-size: 1.8rem;
}
*/

.page-title {
  margin-bottom: 20px;
  margin-bottom: 2.8vh;
  font-size: 70px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.2rem;
  color: #102C57;
}

.page-title.sub-page {
  font-size: 40px;
  font-weight: 600;
}

.row {
  padding: 5% 12vw;
  border-bottom: #dddddd solid 1px;
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.center {
  text-align: center;
}

.center .section-header {
  margin-bottom: 15px;
}

.row.second {
  background-color: #F5F7F8;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.section-header {
  font-size: 25px;
  font-weight: 500;
  color: #102C57
}

.sub-title {
  font-size: 30px;
  font-family: "Comfortaa", sans-serif;
}

.paragraph {
  margin: 25px 8%;
}

.paragraph p {
  margin-top: 20px;
  line-height: 1.5;
  text-align: justify;
}

.btn {
  cursor: pointer;
  padding: 10px 40px;
  font-size: 18px;
  color: white;
  background-color: #0d1a49;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.btn:hover {
  background-color: var(--blue);
  scale: 1.03;
}

.btn a {
  text-decoration: none;
  color: white;
}

/* ----------------------- Transition between Pages --------------------------------- */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-15deg);
    -webkit-transform: rotateX(-15deg);
    -moz-transform: rotateX(-15deg);
    -ms-transform: rotateX(-15deg);
    -o-transform: rotateX(-15deg);
}

  to {
    opacity: 1;
    transform: rotateX(0);
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
  }
}

main {
  animation: transitionIn 4.5s;
  -webkit-animation: transitionIn 4.5s;
}


/* -------------------------- CSS for small screen --------------------------- */

@media all and (max-width: 1200px) {
  .row {
    padding: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .paragraph {
    margin: 20px 0;
  }
}