:root {
    --dropdown-nav-bgColor: #0d1a49;
    --blue: #102C57;
    --light-blue: #1679AB;
}

#contact .page-title {
    text-align: center;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #102C57;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #1679AB;
    display: inline-block;

    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.social-icons a div {
    text-align: center;
}

.social-icons a:hover {
    color: #102C57;

    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.social-icons a i {
    font-size: 30px;
}

.form-section {
    padding-top: 25px;
    padding-bottom: 25px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 35px;
}

.form-col-1, .form-col-2 {
    min-width: 48%;
    max-width: 100%;
}

form .form-error-text {
    font-size: 14.5px;
    color: #1679AB;
    text-align: left;
    display: none;
}

.input-form {
    margin: 16px 0;
}

.input-form label {
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--blue);
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: #dddddd solid 1px;
    box-shadow: inset 1px 2px 4px 1px rgba(0, 0, 0, 0.1);

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.btn-with-message {
    width: 100%;
}

.btn-container {
    width: 100%;
    text-align: center;
}

.form-msg {
    margin-top: -10px;
    padding-left: 10px;
    color: #1679AB;
    font-size: 14px;
    text-align: left;
    height: 25px;
}



/* ------------------ responsiveness -------------------*/
@media only screen and (max-width: 975px) {
    .form-col-1, .form-col-2  {
        width: 100%;
    }
}