.row.banner {
    padding: 0 18.5%;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -ms-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.smaller-img {
    display: none;
}

.home .section-header {
    text-align: center;
}

.latest-accomplishments {
    padding: 10vh;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.full.row {
    padding: 5% 5%;
    padding: 5% 5vw;
}


.header-with-lines {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}


.header-with-lines .section-header {
    display: flex;
    width: auto;
}

.header-with-lines hr {
    border: 1px solid #9AC8CD;
    width: 60px;
    height: 1px;
    margin: auto 10px;
}

/* Video scroll bar */
.main-scroll {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    text-align: center;
    outline: none;
    border: none;
    padding: 0 5px;
    cursor: pointer;
    width: 5%;
    width: 4vw;
}

.icon i {
    color: darkblue;
    font-size: 30px;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.icon i:hover {
    scale: 1.1;
    color: blue;
}

.cover {
    position: relative;
    width: 90%;
    z-index: 200;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.scroll-media {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    gap: 10px;
    padding: 10px;
}

.scroll-media::-webkit-scrollbar {
    display: none;
    height: 5px;
}

/* Media element */
.media-container {
    cursor: pointer;
}

.video {
    aspect-ratio: 16/9;
}

.portrait {
    aspect-ratio: 2/3;
}

.landscape {
    aspect-ratio: 3/2;
}

.video,
.portrait,
.landscape {
    width: 390px;
    transition: ease-out;
    -webkit-transition: ease-out;
    -moz-transition: ease-out;
    -ms-transition: ease-out;
    -o-transition: ease-out;
}



/* ------------------ responsiveness -------------------*/
@media only screen and (max-width: 1250px) {
    .row.banner {
        padding: 0 15%;
    }
}

@media only screen and (max-width: 1144px) {
    .row.banner {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 850px) {
    .row.banner {
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .smaller-img {
        display: block;
    }

    .larger-img {
        display: none;
    }

    #header {
        background-image: url(images/alexis_phone_background.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 550px) {
    .scroll-media {
        gap: 0;
        padding: 10px 0;
    }

    .scroll-media,
    .media-container {
        width: 100%;
    }

    .video,
    .portrait,
    .landscape {
        width: 22rem;
    }
}

/* -------------------------- Lite YouTube CSS --------------------------- */
lite-youtube {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px; 
}

lite-youtube .lty-playbtn {
  width: 68px;
  height: 48px;
  background-color: rgb(205, 0, 0);
  border-radius: 12%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

lite-youtube .lty-playbtn::before {
  content: "";
  border-style: solid;
  border-width: 10px 0 10px 16px;
  border-color: transparent transparent transparent white;
  position: absolute;
  left: 26px;
  top: 14px;
}

lite-youtube iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
}

lite-youtube.lyt-activated {
  background-image: none;
}